# Dependencies
node_modules

# Firebase
firebase-config.json
.firebase/
database.rules.json
storage.rules

# Environment variables
.env

# Build output
dist
build

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idx/*
.vscode/*